@import "./../../node_modules/font-awesome/less/font-awesome";

@cell-size : 50px;
@gap : 4px;

body {
  background-image: url("background.jpg");
  background-size: cover;
}

div {
  box-sizing: border-box;
}

#game-screen {

  #game-view{
    display: flex;
    margin-top: @cell-size;
    margin-left: @cell-size;
  }

  #enemy-board-container {
    margin-left: 20px;
    display: none;
    .cell {
      cursor: pointer;
      &:hover {
        background-image: url("cannon.png");
      }
    }
  }

  #your-turn {
    display: none;
    margin-left: 570px;
    margin-top: 20px;
    width: 400px;
  }

  #game-screen-buttons {
    margin-top: 20px;
    margin-left: @cell-size;

    #waiting-for-enemy {
      font-weight: 600;
      font-size: large;
      color: black;
    }

  }
  
  #game-screen-results {
    display: none;
    margin-top: 20px;
    margin-left: 100px;

    #result {
      width: 500px;
    }

    #revengeDecision {
      margin-top: 20px;
      width: 500px;
    }
  }

  .cell {
    width: @cell-size;
    height: @cell-size;
    border: 1px solid black;
  }

  #player-board, #enemy-board {
    background-image: url("board-bg.jpg");
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: @cell-size*10;
    min-width: @cell-size*10;
    height: @cell-size*10;
  }

  #ship-dock {
    vertical-align: top;
  }

  .ship {
    vertical-align: top;
    display: inline-block;

    .inner {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      background-color: darkslategray;
      margin : 4px;
      width : calc(~'100% - 8px');
      height : calc(~'100% - 8px');
    }

    &:hover .rotate-button {
      display: block;
    }

    .rotate-button {
      cursor: pointer;
      display: none;
      position: absolute;
      background-color: orange;
      width: 20px;
      height: 20px;
      bottom: -2px;
      right: -2px;
    }

    .glyphicon {
      padding: 3px;
    }
  }
}

.screen {
  display: none;
}

#login-screen {
  width: 350px;
  height: 150px;
  background-color: lightgrey;
  border: 2px solid black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  #nick-input {
    width: 200px;
  }
}

#room-list-screen {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 500px;
  height: auto;
  background-color: lightgrey;
  border: 2px solid black;
  padding: 5px;

  #room-list {
    list-style-type: none;

  }

  li {
    width: 400px;
    height: 60px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid black;

    #joinRoomBtn {
      margin-left: 10px;
    }

    span:first-of-type {
      font-size: large;
      margin-right: 5px;
    }
  }
}

.validation-msg {
  font-weight: 700;
}

.shoot{
  width : @cell-size;
  height : @cell-size;
  position: absolute;
}

#miss {
  background-image: url("splash.png");
}

#hit {
  background-image: url("hit.png");
}

#sunk {
  background-image: url("sunk.png");
}
