@import "./../../node_modules/font-awesome/less/font-awesome";

@cell-size : 50px;
@gap : 4px;

body {
  background-image: url("background.jpg");
  background-size: cover;
}

div {
  box-sizing: border-box;
}

#game-screen {
  #game-view{
    display: flex;
    margin-top: @cell-size;
    margin-left: @cell-size;
  }

  #enemy-board-container {
    margin-left: 20px;
    display: none;
    .cell {
      cursor: pointer;
      &:hover {
        background-image: url("cannon.png");
      }
    }
  }

  #your-turn {
    display: none;
  }

  #game-screen-buttons {
    margin-top: 20px;
    margin-left: @cell-size;

    #waiting-for-enemy {
      font-weight: 600;
      font-size: large;
      color: black;
    }

  }
  
  #game-screen-results {
    display: none;
  }

  .cell {
    width: @cell-size;
    height: @cell-size;
    border: 1px solid black;
  }

  #player-board, #enemy-board {
    background-image: url("board-bg.jpg");
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: @cell-size*10;
    min-width: @cell-size*10;
    height: @cell-size*10;
  }

  #ship-dock {
    vertical-align: top;
  }

  .ship {
    vertical-align: top;
    display: inline-block;

    .inner {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      background-color: darkslategray;
      margin : 4px;
      width : calc(~'100% - 8px');
      height : calc(~'100% - 8px');
    }

    &:hover .rotate-button {
      display: block;
    }

    .rotate-button {
      cursor: pointer;
      display: none;
      position: absolute;
      background-color: orange;
      width: 20px;
      height: 20px;
      bottom: -2px;
      right: -2px;
    }

    .glyphicon {
      padding: 3px;
    }

  }

}

.screen {
  display: none;
}

.validation-msg {
  font-weight: 700;
}

.shoot{
  width : @cell-size;
  height : @cell-size;
  position: absolute;
}

#miss {
  background-image: url("splash.png");
}

#hit {
  background-image: url("hit.png");
}

#sunk {
  background-image: url("sunk.png");
}
